h1, h2, h3 {
    margin-top: 0;
}

.my-body {
    height: calc(100vh - 60px);
}

.my-menu {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    background-color: #2D91F4;
}

.my-button {
    color: white !important;
}

.my-reel {
    background-color: blue;
    z-index: 5;
}